@page "/"
<link rel="stylesheet" href="Ordergh.css">
<div class="main-container">
<div>
  <button onclick="location.href='Warehouse'" class="entrance">Warehouse</button>
</div>
<div>
  <button onclick="location.href='Order'" class="entrance">Order</button>
</div>
<div>
  <button onclick="location.href='Check'" class="entrance">Check</button>
</div>
</div>
