<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Ordergh.css"
    <base href="/" />
    <HeadOutlet />
</head>
    <app> 
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
<script>
    window.onload = function() 
    {window.location.href = 'C:\Users\user\Desktop\Scout\Intendance\Warehouse.exe'; };
</script>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
